/* Efeitos */
	/* Sombra */
		.sombra{
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
	/* Sombra interativa */
		.sombra-interativa{
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			cursor: pointer;
			.transition();
			&:hover, &:focus{
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}
		}