/* Funções */
  /* Auxiliares */
    .br(@r: .5rem;){border-radius: @r;}
    .bs(@string: 1px 2px 3px rgba(0,0,0,.3) ) {box-shadow: @string; }
    .delay (@delay: 0){animation-delay: @delay; }
    .delayloop (@i,@time) when (@i > 0) {
      &:nth-child(@{i}){.delay(@i * @time); }
      .delayloop(@i - 1,@time);
    }
    .transition (@t:.3s, @a: all, @e: ease-in-out) {transition: @a @t @e; }
    .notransition(){transition: none;}
    .rotate(@z: -90deg){ transform-origin: 50%; transform: rotate(@z); }
    .scale(@factor){ transform: scale(@factor); }
    .translate(@x, @y:0){ transform: translate(@x, @y); }

  /* Tamanho da fonte */
    .fluid(@min-font, @max-font,@base-font: 16px,@min-screen: 500px, @max-screen: 1440px) {
      font-size: @min-font;
      @media screen and (min-width: unit((@min-screen / @base-font),~"em") ) {
        font-size: calc( @min-font ~" + " unit(@max-font - @min-font) ~" * ((100vw - " unit((@min-screen / @base-font),~"em") ~") /" unit( (@max-screen / @base-font) - (@min-screen / @base-font) ) ~")" );
      }
      @media screen and (min-width: unit((@max-screen / @base-font),~"em") ) {
        font-size: @max-font;
      }
    }
    
  /* Animacoes */
    .animated(@name, @duration: 700ms, @ease: ease, @fill: both){animation: @name @duration @ease @fill; }
    .noAnimation(){animation-name: none; }

    @keyframes fadeIn{
      0% {opacity: 0; } 
      100% {opacity: 1; } 
    }
    @keyframes fadeInUp {
      0% {opacity: 0; transform: translate3d(0, 10%, 0); }
      100% {opacity: 1; transform: none; }
    }
    @keyframes fadeInDown {
      0% {opacity: 0; transform: translate3d(0, -10%, 0); }
      100% {opacity: 1; transform: none; }
    }
    @keyframes fadeOut {
      0% {opacity: 1; } 
      100% {opacity: 0; } 
    }
