/* Paddings */
	.p-loop (@i) when (@i >= 0) {
		.p@{i} { padding: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .p@{i}-sm { padding: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .p@{i}-md { padding: ~"@{i}rem";} }
		.p-loop(@i - 1);
	}
	.pt-loop (@i) when (@i >= 0) {
		.pt@{i} { padding-top: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .pt@{i}-sm { padding-top: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .pt@{i}-md { padding-top: ~"@{i}rem";} }
		.pt-loop(@i - 1);
	}
	.pr-loop (@i) when (@i >= 0) {
		.pr@{i} { padding-right: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .pr@{i}-sm { padding-right: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .pr@{i}-md { padding-right: ~"@{i}rem";} }
		.pr-loop(@i - 1);
	}
	.pb-loop (@i) when (@i >= 0) {
		.pb@{i} { padding-bottom: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .pb@{i}-sm { padding-bottom: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .pb@{i}-md { padding-bottom: ~"@{i}rem";} }
		.pb-loop(@i - 1);
	}
	.pl-loop (@i) when (@i >= 0) {
		.pl@{i} { padding-left: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .pl@{i}-sm { padding-left: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .pl@{i}-md { padding-left: ~"@{i}rem";} }
		.pl-loop(@i - 1);
	}
	.p-loop (6);
	.pt-loop (6);
	.pr-loop (6);
	.pb-loop (6);
	.pl-loop (6);

	.p05{padding: .5rem;}
	.pt05{padding-top: .5rem;}
	.pr05{padding-right: .5rem;}
	.pb05{padding-bottom: .5rem;}
	.pl05{padding-left: .5rem;}
	@media only screen and (min-width: 48em) {
		.p05-sm{padding: .5rem;}
		.pt05-sm{padding-top: .5rem;}
		.pr05-sm{padding-right: .5rem;}
		.pb05-sm{padding-bottom: .5rem;}
		.pl05-sm{padding-left: .5rem;}
	}
	@media only screen and (min-width: 62em) {
		.p05-md{padding: .5rem;}
		.pt05-md{padding-top: .5rem;}
		.pr05-md{padding-right: .5rem;}
		.pb05-md{padding-bottom: .5rem;}
		.pl05-md{padding-left: .5rem;}
	}

/* Margens */
	.m-loop (@i) when (@i >= 0) {
		.m@{i} { margin: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .m@{i}-sm { margin: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .m@{i}-md { margin: ~"@{i}rem";} }
		.m-loop(@i - 1);
	}
	.mt-loop (@i) when (@i >= 0) {
		.mt@{i} { margin-top: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .mt@{i}-sm { margin-top: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .mt@{i}-md { margin-top: ~"@{i}rem";} }
		.mt-loop(@i - 1);
	}
	.mr-loop (@i) when (@i >= 0) {
		.mr@{i} { margin-right: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .mr@{i}-sm { margin-right: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .mr@{i}-md { margin-right: ~"@{i}rem";} }
		.mr-loop(@i - 1);
	}
	.mb-loop (@i) when (@i >= 0) {
		.mb@{i} { margin-bottom: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .mb@{i}-sm { margin-bottom: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .mb@{i}-md { margin-bottom: ~"@{i}rem";} }
		.mb-loop(@i - 1);
	}
	.ml-loop (@i) when (@i >= 0) {
		.ml@{i} { margin-left: ~"@{i}rem";}
		@media only screen and (min-width: 48em) { .ml@{i}-sm { margin-left: ~"@{i}rem";} }
		@media only screen and (min-width: 62em) { .ml@{i}-md { margin-left: ~"@{i}rem";} }
		.ml-loop(@i - 1);
	}
	.m-loop (5);
	.mt-loop (5);
	.mr-loop (5);
	.mb-loop (5);
	.ml-loop (5);

	.m05{margin: .5rem;}
	.mt05{margin-top: .5rem;}
	.mr05{margin-right: .5rem;}
	.mb05{margin-bottom: .5rem;}
	.ml05{margin-left: .5rem;}
	@media only screen and (min-width: 48em) {
		.m05-sm{margin: .5rem;}
		.mt05-sm{margin-top: .5rem;}
		.mr05-sm{margin-right: .5rem;}
		.mb05-sm{margin-bottom: .5rem;}
		.ml05-sm{margin-left: .5rem;}
	}
	@media only screen and (min-width: 62em) {
		.m05-md{margin: .5rem;}
		.mt05-md{margin-top: .5rem;}
		.mr05-md{margin-right: .5rem;}
		.mb05-md{margin-bottom: .5rem;}
		.ml05-md{margin-left: .5rem;}
	}