/* Variáveis */
	// Path das imagens //
  @u: "../assets/images/";

/* Framework */
	@import "./tapronto/funcoes.less";
	@import "./tapronto/responsivo.less";
	@import "./tapronto/estrutura.less";
	@import "./tapronto/elementos.less";
	@import "./tapronto/margens_paddings.less";
	@import "./tapronto/tipografia.less";
	@import "./tapronto/formulario.less";
	@import "./tapronto/efeitos.less";

/* Estrutura */
	body{font-size: 14px;.ff1;.w300;pointer-events:all;}
	.wrap{max-width:900px;}

	// Cores //

		/// Básicas ///
		@preto: #111111;
		@cinza: #E5E5E5;
		@branco: #FFFFFF;

		/// Principais ///
		@principal: @marrom-3;
		@complementar: @vermelho-5;

		/// Personalizadas ///

		/// Vermelho ///
		@vermelho-1: #E8B6B0;
		@vermelho-2: #DD9188;
		@vermelho-3: #D16C61;
		@vermelho-4: #C64739;
		@vermelho-5: #9E392E;

		/// Laranja ///
		@laranja-1: #FCCF9C;
		@laranja-2: #FBB76A;
		@laranja-3: #FA9F38;
		@laranja-4: #F98906;
		@laranja-5: #C76C05;

		/// Amarelo ///
		@amarelo-1: #FDED9B;
		@amarelo-2: #FDE468;
		@amarelo-3: #FCDB36;
		@amarelo-4: #FBD204;
		@amarelo-5: #C9A803;

		/// Limão ///
		@limao-1: #DDE7B1;
		@limao-2: #CCDA8B;
		@limao-3: #BBCE64;
		@limao-4: #A9C23D;
		@limao-5: #889B31;

		/// Verde ///
		@verde-1: #BADED2;
		@verde-2: #97CEBB;
		@verde-3: #74BEA4;
		@verde-4: #52AD8D;
		@verde-5: #418B71;

		/// Azul ///
		@azul-1: #ACBDEC;
		@azul-2: #839CE2;
		@azul-3: #5A7BD8;
		@azul-4: #305BCF;
		@azul-5: #2748A5;

		/// Roxo ///
		@roxo-1: #BFAFE9;
		@roxo-2: #9F88DD;
		@roxo-3: #7E60D2;
		@roxo-4: #5E38C7;
		@roxo-5: #4A2C9E;

		/// Rosa ///
		@rosa-1: #EAAECB;
		@rosa-2: #DF86B1;
		@rosa-3: #D45E97;
		@rosa-4: #C9367D;
		@rosa-5: #A12B64;

		/// Marrom ///
		@marrom-1: #D5C3C9;
		@marrom-2: #C0A5AD;
		@marrom-3: #AB8792;
		@marrom-4: #966977;
		@marrom-5: #78545F;
		@marrom-6: #5A3F47;
		@marrom-7: #3C2A30;
		@marrom-8: #1E1518;


/* Tipografia */

	// Familias //
		.ff1{ font-family: 'Kanit', sans-serif;}
		.ff2{ font-family: 'Open Sans', sans-serif; }
	
	// Tamanho //
		.t56{.fluid(2.5em,4em);} 
		.t36{.fluid(1.8em,2.57em);} 
		.t24{.fluid(1.2em,1.71em);} 
		.t18{.fluid(1.1em,1.28em);} 
		.t14{.fluid(0.9em,1em);} 
		.t12{.fluid(0.73em,0.85em);} 
		.t10{.fluid(0.65em,0.71em);} 

	// Estilos //

		h2{.t56;.w600; line-height: 1.2;}
		h3{.t24;.w600;}
		h4{.t14;.w600;}
		.introducao{.t18;.w400;}
		.label{.t12;.ff2;.w400;}
		.legenda{.t10;.w500;letter-spacing: 0.02rem;}
		p a:hover{color: @vermelho-3;}
	
	// Cores //
		.branco{ color:@branco;}
	
		/// Vermelho ///
		.vermelho-1{color: @vermelho-1};
		.vermelho-2{color: @vermelho-2};
		.vermelho-3{color: @vermelho-3};
		.vermelho-4{color: @vermelho-4};
		.vermelho-5{color: @vermelho-5};

		/// Laranja ///
		.laranja-1{color: @laranja-1};
		.laranja-2{color: @laranja-2};
		.laranja-3{color: @laranja-3};
		.laranja-4{color: @laranja-4};
		.laranja-5{color: @laranja-5};

		/// Amarelo ///
		.amarelo-1{color: @amarelo-1};
		.amarelo-2{color: @amarelo-2};
		.amarelo-3{color: @amarelo-3};
		.amarelo-4{color: @amarelo-4};
		.amarelo-5{color: @amarelo-5};

		/// Limão ///
		.limao-1{color: @limao-1};
		.limao-2{color: @limao-2};
		.limao-3{color: @limao-3};
		.limao-4{color: @limao-4};
		.limao-5{color: @limao-5};

		/// Verde ///
		.verde-1{color: @verde-1};
		.verde-2{color: @verde-2};
		.verde-3{color: @verde-3};
		.verde-4{color: @verde-4};
		.verde-5{color: @verde-5};

		/// Azul ///
		.azul-1{color: @azul-1};
		.azul-2{color: @azul-2};
		.azul-3{color: @azul-3};
		.azul-4{color: @azul-4};
		.azul-5{color: @azul-5};

		/// Roxo ///
		.roxo-1{color: @roxo-1};
		.roxo-2{color: @roxo-2};
		.roxo-3{color: @roxo-3};
		.roxo-4{color: @roxo-4};
		.roxo-5{color: @roxo-5};

		/// Rosa ///
		.rosa-1{color: @rosa-1};
		.rosa-2{color: @rosa-2};
		.rosa-3{color: @rosa-3};
		.rosa-4{color: @rosa-4};
		.rosa-5{color: @rosa-5};

		/// Marrom ///
		.marrom-1{color: @marrom-1};
		.marrom-2{color: @marrom-2};
		.marrom-3{color: @marrom-3};
		.marrom-4{color: @marrom-4};
		.marrom-5{color: @marrom-5};
		.marrom-6{color: @marrom-6};
		.marrom-7{color: @marrom-7};
		.marrom-8{color: @marrom-8};

/* Componentes */
	// Links //
		.link{
			.underline;
			.transition;
		}

	// Sombras //

		.shadow{
			filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
		}
		.shadow-2{
			filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.6));
		}
		.shadow-3{
			filter: drop-shadow(16px 16px 16px rgba(0, 0, 0, 0.6));
		}
		.shadow-4{
			filter: drop-shadow(7px 7px 8px rgba(0, 0, 0, 0.3));
		}
		.shadow-5{
			filter: drop-shadow(2.5px 2.5px 0 rgba(0, 0, 0, 0.6));
		}

	// Fundos //
		.bgvermelho-1{background-color: @vermelho-1};
		.bgvermelho-2{background-color: @vermelho-2};
		.bgvermelho-3{background-color: @vermelho-3};
		.bgvermelho-4{background-color: @vermelho-4};
		.bgvermelho-5{background-color: @vermelho-5};

		/// Laranja ///
		.bglaranja-1{background-color: @laranja-1};
		.bglaranja-2{background-color: @laranja-2};
		.bglaranja-3{background-color: @laranja-3};
		.bglaranja-4{background-color: @laranja-4};
		.bglaranja-5{background-color: @laranja-5};

		/// Amarelo ///
		.bgamarelo-1{background-color: @amarelo-1};
		.bgamarelo-2{background-color: @amarelo-2};
		.bgamarelo-3{background-color: @amarelo-3};
		.bgamarelo-4{background-color: @amarelo-4};
		.bgamarelo-5{background-color: @amarelo-5};

		/// Limão ///
		.bglimao-1{background-color: @limao-1};
		.bglimao-2{background-color: @limao-2};
		.bglimao-3{background-color: @limao-3};
		.bglimao-4{background-color: @limao-4};
		.bglimao-5{background-color: @limao-5};

		/// Verde ///
		.bgverde-1{background-color: @verde-1};
		.bgverde-2{background-color: @verde-2};
		.bgverde-3{background-color: @verde-3};
		.bgverde-4{background-color: @verde-4};
		.bgverde-5{background-color: @verde-5};

		/// Azul ///
		.bgazul-1{background-color: @azul-1};
		.bgazul-2{background-color: @azul-2};
		.bgazul-3{background-color: @azul-3};
		.bgazul-4{background-color: @azul-4};
		.bgazul-5{background-color: @azul-5};

		/// Roxo ///
		.bgroxo-1{background-color: @roxo-1};
		.bgroxo-2{background-color: @roxo-2};
		.bgroxo-3{background-color: @roxo-3};
		.bgroxo-4{background-color: @roxo-4};
		.bgroxo-5{background-color: @roxo-5};

		/// Rosa ///
		.bgrosa-1{background-color: @rosa-1};
		.bgrosa-2{background-color: @rosa-2};
		.bgrosa-3{background-color: @rosa-3};
		.bgrosa-4{background-color: @rosa-4};
		.bgrosa-5{background-color: @rosa-5};

		/// Marrom ///
		.bgmarrom-1{background-color: @marrom-1};
		.bgmarrom-7{background-color: @marrom-7};

	// Botões //

		/// Botão ///
			.btn{
				.bgmarrom-7;
				.marrom-1;
				.t14;
				.shadow-2;
				.btn-hover;
				padding:.3rem 0.8rem 0.4rem;
				border-radius:20px;
			}

		///Botão Menu ///

			#btn-menu{display:none;}
			.btn-menu{
				.block;
				.btn-hover;
				.shadow-5;
				width:100%;
				height:100%;
				cursor: pointer;
				background: url('data:image/svg+xml;uft-8, <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 10H17" stroke="%23D5C3C9" stroke-width="3" stroke-linecap="square"/><path d="M2 2H17" stroke="%23D5C3C9" stroke-width="3" stroke-linecap="square"/><path d="M2 18H17" stroke="%23D5C3C9" stroke-width="3" stroke-linecap="square"/></svg>') no-repeat center;
			}
		
		///Botão Fechar ///
			.btn-close{
				.block;
				.btn-hover;
				background: url('data:image/svg+xml;utf8, <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.4854 3L3.00007 11.4853" stroke="%23D5C3C9" stroke-width="3" stroke-linecap="square"/><path d="M3.00098 3L11.4863 11.4853" stroke="%23D5C3C9" stroke-width="3" stroke-linecap="square" /></svg>') no-repeat center;
				height: 20px;
				width: 20px;
				// transform: rotate(45deg);
				// .transition;
				// &:hover,&:focus{
				// 	transform: rotate(45deg) scale(1.1);
				// }
			}

		///Botão Pesquisa ///

			.btn-search{
				.block;
				.btn-hover;
				background: url('data:image/svg+xml;uft-8, <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2228 5.11142C10.2228 7.93438 7.93438 10.2228 5.11142 10.2228C2.28846 10.2228 0 7.93438 0 5.11142C0 2.28846 2.28846 0 5.11142 0C7.93438 0 10.2228 2.28846 10.2228 5.11142ZM5.11142 8.17828C6.8052 8.17828 8.17828 6.8052 8.17828 5.11142C8.17828 3.41765 6.8052 2.04457 5.11142 2.04457C3.41765 2.04457 2.04457 3.41765 2.04457 5.11142C2.04457 6.8052 3.41765 8.17828 5.11142 8.17828Z" fill="%23D5C3C9"/><path d="M7.77821 8.27778C7.74742 8.21707 7.68438 8.17871 7.61539 8.17871H5.29349C5.15822 8.17871 5.07026 8.31873 5.1308 8.43768L8.59095 15.2359C8.62179 15.2964 8.68476 15.3347 8.75365 15.3347H11.0629C11.198 15.3347 11.286 15.1949 11.2257 15.076L7.77821 8.27778Z" fill="%23D5C3C9"/></svg>') no-repeat center;
				background-size:contain;
				height: 20px;
				width: 20px;
			}

		///Botão ir para o mapa ///

			.btn-goto{
				.t24;
				.btn-hover;
				.shadow-3;
				.branco;
				padding:1.5rem;
				background: url('data:image/svg+xml;uft-8, <svg width="236" height="88" viewBox="0 0 236 88" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M50.1693 0H0.668701V88H0.669332H178.503V73.3333L185.836 88H235.335V0.000305176L220.669 7.33333L206.003 0H57.5027L57.5027 14.6667L50.1693 0ZM0.669332 88L0.669334 73.3333L0.669332 58.6667L8.00267 73.3333L0.669332 88Z" fill="%235A3F47"/></svg>') no-repeat center;
				background-size:contain;
			}

		/// Hover Botão ///

			.btn-hover{
				.transition;
				&:hover{
					transform: scale(1.1);
					transform-origin:center;
				}
			}

		/// Scroll intro ///

			.scrollTo{
				width: 2px;
				height: 45px;
				position: relative;
				.fixed;
				left:50%;
				transform: translateX(-50%);
				bottom:1rem;
				span{
					background-color:white;
					.absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					animation: scrollTo 2s;
					animation-iteration-count: infinite;
				}
			}
			@keyframes scrollTo {
				0% {
					top: 0%;
					height: 0%;
				}
				50% {
					top: 0%;
					height: 100%;
				}
				100% {
					top: 100%;
					height: 0%;
				}
			}

	// Cores Escala //

	
	//conflitos
	[data-tipo="0"]{
		.map-controllers .regua{transform: translateY(300%);}
	}
	//conflitos
	[data-tipo="1"]{
		[data-indicator="1"]{transform: scale(1.3);}
		.regua{
			.escala{
				@media(max-width:980px){background-image:url('@{u}temas/escala-conflitos.svg')}
			}
		}
		.escala{
			.escala-1{.bgvermelho-1; &:after{.bgvermelho-1;}}
			.escala-2{.bgvermelho-2; &:after{.bgvermelho-2;}}
			.escala-3{.bgvermelho-3; &:after{.bgvermelho-3;}}
			.escala-4{.bgvermelho-4; &:after{.bgvermelho-4;}}
			.escala-5{.bgvermelho-5;}
		}
	}
	//queimadas
	[data-tipo="6"]{
		[data-indicator="6"]{transform: scale(1.3);}
		.regua{
			.escala{
				@media(max-width:980px){background-image:url('@{u}temas/escala-queimadas.svg')}
			}
		}
		.escala{
			.escala-1{.bglaranja-1;&:after{.bglaranja-1;}}
			.escala-2{.bglaranja-2;&:after{.bglaranja-2;}}
			.escala-3{.bglaranja-3;&:after{.bglaranja-3;}}
			.escala-4{.bglaranja-4;&:after{.bglaranja-4;}}
			.escala-5{.bglaranja-5;}
		}
	}
	//desmatamento
	[data-tipo="4"]{
		[data-indicator="4"]{transform: scale(1.3);}
		.regua{
			.escala{
				@media(max-width:980px){background-image:url('@{u}temas/escala-desmatamento.svg')}
			}
		}
		.escala{
			.escala-1{.bgamarelo-1;&:after{.bgamarelo-1;}}
			.escala-2{.bgamarelo-2;&:after{.bgamarelo-2;}}
			.escala-3{.bgamarelo-3;&:after{.bgamarelo-3;}}
			.escala-4{.bgamarelo-4;&:after{.bgamarelo-4;}}
			.escala-5{.bgamarelo-5;}
		}
	}
	//agrotoxicos
	[data-tipo="2"]{
		[data-indicator="2"]{transform: scale(1.3);}
		.regua{
			.escala{
				@media(max-width:980px){background-image:url('@{u}temas/escala-agrotoxicos.svg')}
			}
		}
		.escala{
			.escala-1{.bglimao-1;&:after{.bglimao-1;}}
			.escala-2{.bglimao-2;&:after{.bglimao-2;}}
			.escala-3{.bglimao-3;&:after{.bglimao-3;}}
			.escala-4{.bglimao-4;&:after{.bglimao-4;}}
			.escala-5{.bglimao-5;}
		}
	}
	//desigualdade
	[data-tipo="8"]{
		[data-indicator="8"]{transform: scale(1.3);}
		.regua{
			.escala{
				@media(max-width:980px){background-image:url('@{u}temas/escala-desigualdade.svg')}
			}
		}
		.escala{
			.escala-1{.bgverde-1;&:after{.bgverde-1;}}
			.escala-2{.bgverde-2;&:after{.bgverde-2;}}
			.escala-3{.bgverde-3;&:after{.bgverde-3;}}
			.escala-4{.bgverde-4;&:after{.bgverde-4;}}
			.escala-5{.bgverde-5;}
		}
	}
	//agua
	[data-tipo="3"]{
		[data-indicator="3"]{transform: scale(1.3);}
		.regua{
			.escala{
				@media(max-width:980px){background-image:url('@{u}temas/escala-agua.svg')}
			}
		}
		.escala{
			.escala-1{.bgazul-1;&:after{.bgazul-1;}}
			.escala-2{.bgazul-2;&:after{.bgazul-2;}}
			.escala-3{.bgazul-3;&:after{.bgazul-3;}}
			.escala-4{.bgazul-4; color: white; &:after{.bgazul-4;}}
			.escala-5{.bgazul-5;}
		}
	}
	//mineracao
	[data-tipo="5"]{
		[data-indicator="5"]{transform: scale(1.3);}
		.regua{
			.escala{
				@media(max-width:980px){background-image:url('@{u}temas/escala-mineracao.svg')}
			}
		}
		.escala{
			.escala-1{.bgroxo-1; &:after{.bgroxo-1;}}
			.escala-2{.bgroxo-2; &:after{.bgroxo-2;}}
			.escala-3{.bgroxo-3; &:after{.bgroxo-3;}}
			.escala-4{.bgroxo-4; color: white;&:after{.bgroxo-4;}}
			.escala-5{.bgroxo-5;}
		}
	}
	//violencia
	[data-tipo="7"]{
		[data-indicator="7"]{transform: scale(1.3);}
		.regua{
			.escala{
				@media(max-width:980px){background-image:url('@{u}temas/escala-violencia.svg')}
			}
		}
		.escala{
			.escala-1{.bgrosa-1;&:after{.bgrosa-1;}}
			.escala-2{.bgrosa-2;&:after{.bgrosa-2;}}
			.escala-3{.bgrosa-3;&:after{.bgrosa-3;}}
			.escala-4{.bgrosa-4; color: white;&:after{.bgrosa-4;}}
			.escala-5{.bgrosa-5;}
		}
	}

	// Topbar //
	#topBar{
		.z3;
		.fixed;
		.transition(@t: 1s);
		top:1rem;
		width:100%;
		nav{
			.flex;
			align-items:center;
			justify-content:space-between;
			.logo-wrapper{
				.logo{
					.p1;
					.block;
					.flex;
					align-items:center;
					background: url('data:image/svg+xml;uft-8, <svg width="180" height="64" viewBox="0 0 180 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M180 0H0V44L5 54L0 64H180V20L175 10L180 0Z" fill="%233C2A30"/></svg>') no-repeat center;
					background-size:contain;
					filter: drop-shadow(16px 16px 13px rgba(0, 0, 0, 0.5));
					img{
						.shadow;
						width:145px;
					}
				}
			}
			.apoiadores{
				.transition;
				opacity:1;
				visibility:visible;
				div{
					display:flex;
					align-items:center;
					justify-content:center;
					img{
						.ml1;
						.mr1;
					}
				}
				@media(max-width:991px){
					display:none;
				}
			}
			.menu{
				.relative;
				#btn-menu{
					&:checked + .nav-menu{
						visibility:visible;
						opacity:1;
						top:0;
					}
				}
				.icons{
					.shadow-2;
					.flex;
					.marrom-1;
					>div{
						.flex;
						align-items:center;
						justify-content:center;
						height:48px;
					}
					.year-wrapper{
						.relative;
						width:70px;
						cursor: pointer;
						background: url('data:image/svg+xml;uft-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.1 48"><path d="M0 0v48h65V38l5 10h0.1V0H0z M5 10L0 0h5V10z" fill="%233C2A30"/></svg>') no-repeat center;
						label{
							.t14;
							.w700;
							.m0;
							.shadow-5;
							.relative;
							.btn-hover;
							cursor:pointer;
							@media(max-width:767px){
								.t18;
							}
						}
						.select-value{
							display:none;
						}
						.drop-options{
							.p05;
							.absolute;
							.bgmarrom-7;
							.m0;
							text-align:center;
							left: 0;
							top: 50%;
							opacity: 0;
							visibility: hidden;
							max-height: 0;       
							width:100%; 
							z-index: 4;
							.transition;   
							li{       
								.block;      
								.t12;        
								.transition;      
								.btn-hover;  
								padding: 0.2em;
								cursor: pointer;
								@media(max-width:767px){
									.t14;
								}
							}                    
						}
						input[type="checkbox"]{
							display: none;
							&:checked{
								& ~ .drop-options{
									top: 75%;
									opacity: 1;
									visibility: visible;  
									z-index: 99999;     
									max-height:9999px;                 
								}
							}
						}
					}
					.search-wrapper{
						.flex;
						.relative;
						.bgmarrom-7;
						cursor:pointer;
						align-items:center;
						justify-content:flex-end;
						height:48px;
						min-width:55px;
						.btn-search{
							.shadow-5;
							margin-right: 1.3rem;
						}
						input{
							.transition;
							color:transparent;
							background-color:transparent;
							max-width:20px;
							margin-right: 1.1rem;
							border-color:transparent;
							background: url('data:image/svg+xml;uft-8, <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2228 5.11142C10.2228 7.93438 7.93438 10.2228 5.11142 10.2228C2.28846 10.2228 0 7.93438 0 5.11142C0 2.28846 2.28846 0 5.11142 0C7.93438 0 10.2228 2.28846 10.2228 5.11142ZM5.11142 8.17828C6.8052 8.17828 8.17828 6.8052 8.17828 5.11142C8.17828 3.41765 6.8052 2.04457 5.11142 2.04457C3.41765 2.04457 2.04457 3.41765 2.04457 5.11142C2.04457 6.8052 3.41765 8.17828 5.11142 8.17828Z" fill="%23D5C3C9"/><path d="M7.77821 8.27778C7.74742 8.21707 7.68438 8.17871 7.61539 8.17871H5.29349C5.15822 8.17871 5.07026 8.31873 5.1308 8.43768L8.59095 15.2359C8.62179 15.2964 8.68476 15.3347 8.75365 15.3347H11.0629C11.198 15.3347 11.286 15.1949 11.2257 15.076L7.77821 8.27778Z" fill="%23D5C3C9"/></svg>') no-repeat center right;
							&:focus-visible{
								outline:0;
							}
						}
						input::-webkit-calendar-picker-indicator {
							display: none!important;
						  }
						&:hover{
							input{
								.ml05;
								.marrom-1;
								max-width:300px;
								opacity:1;
								border-bottom-color: @marrom-1;
								border-width: 0 0 1px 0;
							}
						}
						&:before{
							.absolute;
							.block;
							height:48px;
							width:5px;
							left: -5px;
							content:"";
							background: url('data:image/svg+xml;uft-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.1 48"><g><polygon fill-rule="evenodd" clip-rule="evenodd" points="5.1 48 5.1 0 0 0 0 28 5 38 0 48" fill="%233C2A30"/></g></svg>') no-repeat center;
							background-size:cover;
						}
					}
					.btn-menu-wrapper{
						.bgmarrom-7;	
						width:55px;					
						&:before{
							.absolute;
							.block;
							height:48px;
							width:5px;
							right: -5px;
							content:"";
							background: url('data:image/svg+xml;uft-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.1 48"><g><polygon fill-rule="evenodd" clip-rule="evenodd" points="5.1 0 -0.1 0 -0.1 48 5.1 48 5.1 20 0.2 10" fill="%233C2A30"/></g></svg>') no-repeat center;
							background-size:cover;
						}
					}
				}
				.nav-menu {
					.marrom-1;
					.transition;
					position: absolute;
					top: -2rem;
					min-width:190px;
					width: calc(100% + 10px);
    				right:-5px;
					visibility:hidden;
					opacity:0;
					.btn-close{
						.absolute;
						right:1.5rem;
						top: 1.5rem;
					}
					.lang{
						background: url('data:image/svg+xml;uft-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 55.9"><path d="M0 55.9h180V20l-5-10l5-10H0v28l5 10L0 48V55.9z M60 0v10L55 0H60z" fill="%233C2A30"/></svg>') no-repeat center top;
						background-size:100%;
						padding: 1.5rem 1.5rem 0.5rem;
						a{
							&:first-child, &:nth-child(2){
								padding-right:0.3rem;
								&:after{
									content:"|";
									right: -0.3rem;
    								position: relative;
								}
							}
							&:last-child{
								padding-left:0.15rem;
							}
							@media(max-width:767px){
								.t18;
							}
						}
					}
					ul{
						.absolute;
						.transition;
						.bgmarrom-7;
						.m0;
						width:100%;
						padding: 0.5rem 1.5rem 1.5rem;
						li{
							.mt05;
							a{
								.btn-hover;
								@media(max-width:767px){
									.t18;
								}
							}

						}
					}
				}
			}
			.nav-temas{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			@media(max-width:980px){
				.logo-wrapper{
					transform: scale(0.8);
					transform-origin: top left;
				}
				.menu{
					transform: scale(0.8);
					transform-origin: top right;
				}
				.nav-temas{
					.block;
					.fixed;
					bottom:1rem;
					left:0.5rem;
					top:auto;
					transform:scale(0.9) translate(0);
					transform-origin: bottom left;
					>div{
						margin:0.7rem;
					}
				}
			}
			a:hover{color: @principal;}
			a.active{color: @vermelho-4;}
		}
		&.scroll-on{
			.apoiadores{
				opacity:0;
				visibility:hidden;
			}
		}
	}

	// Tooltip //
	.tooltip{
		.fixed;
		z-index: 999;
		.bgmarrom-7;
		.p2;
		opacity: 0;
		.transition(@a: opacity);
		visibility: hidden;
		pointer-events: none;
		&.active{opacity: 1; visibility: visible;}
		.label{
			.marrom-3;
			.mb0;
		}
		h3{
			.mt0;
			.mb1;
			.branco;
			line-height: 1.2em;
		}
		h2{
			.m0;
			.branco;
			line-height: 1em;
		}
		&:after{
			.absolute;
			.block;
			height:32px;
			width:80px;
			content:"";
			background: url('data:image/svg+xml;uft-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.4 31.5"><polygon fill-rule="evenodd" clip-rule="evenodd" fill="%233C2A30" points="0 0 39.4 31.5 79.4 31.5 79.4 0 "/></svg>') no-repeat center;
		}
		&.bottom:after{top:99%;}
		&.top:after{bottom:99%; transform:scaleY(-1);}
		&.right:after{right:0;}
		&.left:after{left:0; transform:scaleX(-1); }
		&.left.top:after{left:0; bottom:99%; transform:scaleY(-1) scaleX(-1); }
	}

	// Temas //
	.nav-temas{
		.tema{
			.icone-tema;
			cursor:pointer;
			&:hover{
				transform: scale(1.3);
				& + .tooltip{
					opacity:1;
					visibility:visible;
					top:5.5rem;
				}
			}
			&.active{transform: scale(1.3);}
		}
		&.nav-intro{
			display: block;
			.transition;
			white-space: nowrap;
			.tooltip{
				display:none;
			}
			.tema-wrapper{
				margin-right: 22px; width: 48px; max-width: 11vw; display: inline-block; vertical-align: middle;
				&:last-of-type{margin-right: 0;}
				.tema{
					transition: all .3s ease-in-out;
					background-size:cover;
					position: relative;
					mask-image: url('@{u}temas/mask.svg');
					mask-size:100%;
					margin: 0;
					overflow:hidden;
					img{
						.transition;
						opacity:0;
					}
					span{
						position: absolute; left: 0; top: 0; width: 100%; height: 100%;
						.transition; background-size:cover;
						opacity:0;
					}
					&.conflitos span{
						background-image: url('@{u}temas/conflitos-bg.jpg');
					}
					&.queimadas span{
						background-image: url('@{u}temas/queimadas-bg.jpg');
					}
					&.desmatamento span{
						background-image: url('@{u}temas/desmatamento-bg.jpg');
					}
					&.agrotoxicos span{
						background-image: url('@{u}temas/agrotoxicos-bg.jpg');
					}
					&.desigualdade span{
						background-image: url('@{u}temas/desigualdade-bg.jpg');
					}
					&.agua span{
						background-image: url('@{u}temas/agua-bg.jpg');
					}
					&.mineracao span{
						background-image: url('@{u}temas/mineracao-bg.jpg');
					}
					&.violencia span{
						background-image: url('@{u}temas/violencia-bg.jpg');
					}
				}
				@media(max-width: 700px){
					margin-right: 0;
				}
			}
		}
		&.nav-mapa{
			display:flex;
			align-items:center;
			justify-content:center;
			>div{
				.relative; margin: 0 .5rem;
			}
			.tema span{width: 48px;}
			.tooltip{
				.absolute;
				.transition;
				.m05;
				top:5rem;
				opacity:0;
				visibility:hidden;
				&.left{left:0;}
				&.right{right:0;}
				img{
					.block;
					max-width:200px;
				}
				@media(max-width:991px){
					display:none;
				}
			}
		}
	}

	.icone-tema{
		.transition;
		.shadow-2;
		display:block;
		width:100%;
		height:auto;
		img{display: block; width: 100%; height: auto;}
		span{display: block; width: 100%; padding-top: 100%;}
		&.conflitos{
			background-image: url('@{u}temas/conflitos.svg');
		}
		&.queimadas{
			background-image: url('@{u}temas/queimadas.svg');
		}
		&.desmatamento{
			background-image: url('@{u}temas/desmatamento.svg');
		}
		&.agrotoxicos{
			background-image: url('@{u}temas/agrotoxicos.svg');
		}
		&.desigualdade{
			background-image: url('@{u}temas/desigualdade.svg');
		}
		&.agua{
			background-image: url('@{u}temas/agua.svg');
		}
		&.mineracao{
			background-image: url('@{u}temas/mineracao.svg');
		}
		&.violencia{
			background-image: url('@{u}temas/violencia.svg');
		}
		&.active{
			transform: scale(1.3);
		}
	}
	.ilustra-tema{
		background-size:cover;
		&.conflitos{
			background-image: url('@{u}temas/conflitos-bg.jpg');
		}
		&.queimadas{
			background-image: url('@{u}temas/queimadas-bg.jpg');
		}
		&.desmatamento{
			background-image: url('@{u}temas/desmatamento-bg.jpg');
		}
		&.agrotoxicos{
			background-image: url('@{u}temas/agrotoxicos-bg.jpg');
		}
		&.desigualdade{
			background-image: url('@{u}temas/desigualdade-bg.jpg');
		}
		&.agua{
			background-image: url('@{u}temas/agua-bg.jpg');
		}
		&.mineracao{
			background-image: url('@{u}temas/mineracao-bg.jpg');
		}
		&.violencia{
			background-image: url('@{u}temas/violencia-bg.jpg');
		}
		img{margin-bottom:-0.4rem;}
	}

	// Nuvem
	.nuvem{
		position: fixed;
		z-index: 999; pointer-events: none;
		width: 405px; height: 304px;
		background: url("@{u}c1.png");
		background-size: contain;
		animation: nuvem 100s infinite linear;
		&.c2{background: url("@{u}c2.png");}
	}
	@keyframes nuvem {
		0% {transform: translateX(-1000px); }
		100% {transform: translateX(1000px); }
	}

	.vinheta{
		content: ""; position: fixed; 
		left: 0; top: 0; width: 100%; height: 100%; 
		z-index: 401; 
		background: radial-gradient(circle, fade(black,0%) 30%, fade(black,95%) 110%); 
		mix-blend-mode: multiply;
		pointer-events: none;
	}

/* Páginas */

// Intro //
	@keyframes glitch {
		0% {opacity: 1; }
		3% {opacity: 1; }
		3.1% {opacity: 0; }
		100% {opacity: 0; }
	}
	@keyframes logoglitch {
		0% {opacity: 1; transform: translate(5px,-5px);}
		0.99% {opacity: 1; transform: translate(5px,-5px);}
		1% {opacity: 1; transform: translate(-5px,-5px);}
		1.99% {opacity: 1; transform: translate(-5px,-5px);}
		2% {opacity: 1; transform: translate(-5px,5px);}
		2.99% {opacity: 1; transform: translate(-5px,5px);}
		3% {opacity: 1; transform: translate(5px,5px);}
		3.99% {opacity: 1; transform: translate(5px,5px);}
		4% {opacity: 0; }
		100% {opacity: 0; }
	}
	#intro{
		.relative;
		.transition;
		background-image: url('@{u}intro-capa.jpg');
		background-attachment: fixed !important;
		background-size: cover !important;
		&:before{
			content: ""; position: absolute; left: 0; top: 0;
			width: 100%; height: 100%; opacity: 0; .transition(@a:opacity);
			background: linear-gradient(0deg, rgba(30, 21, 24, 0.5), rgba(30, 21, 24, 0.5)), linear-gradient(0deg, #E8B6B0, #E8B6B0), linear-gradient(0deg, #3C2A30, #3C2A30);
			background-blend-mode: normal, darken, color;
		}
		/*.glitch{
			span{
				content: "";
				position:fixed;
				left: 0;top: 0;
				width: 100%;height: 100%;
				pointer-events:none;
				background-image: url('@{u}glitch.png');
				background-attachment: fixed;
				background-size: cover;
				background-position: -6px 0px;
				animation:glitch 8s both infinite;
				&:nth-child(1){background-position: -6px 8; animation-delay: .2s; opacity: .5;}
				&:nth-child(2){background-position: 8px 8px; animation-delay: .0s; opacity: .5;}
				&:nth-child(3){background-position: -6px -8px; animation-delay: .2s; opacity: .5;}
			}
		}
		.glitch:before{}
		.glitch:after{}*/
		.logoglitch{
			position: relative;
			.lglitch{
				position: absolute; left: 0; top: 0; width: 100%; height: 100%; transform: translate(5px,-5px);
				animation:logoglitch 7s both infinite;
			}
		}
		.center{
			display:flex;
			justify-content:center;
			align-items:center;
			flex-direction:column;
			height:100%;
			width:100%;
		}
		img{
			filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.3));
		}
		p{
			margin-top: 0px; .t18; color: white;
		}
		.intro-1 p{.mt2; .t24; .marrom-1; .w300;}
		.apoiadores{
			.absolute;
			width:100%;
			z-index:2;
			bottom: 100px;
			left: 0;
			display:flex;
			align-items:center;
			justify-content:center;
			img{
				.ml1;
				.mr1;
			}
		}
		.intro-section{
			position: relative;
			height: 100vh;
			display: block;
		}
		.intro-2{
			.center{
				>div{
					.center;
					height:90vh;
					background: url('@{u}intro2-mapa.svg') no-repeat center;
					background-size:contain;
					text-align:center;
					@media (max-width:980px){
						background-size:150%;
					}
					h2{
						.vermelho-3;
					}
					p{
						.t18;
						.branco;
						max-width:500px;
						@media (max-width:980px){
							max-width:80%;
						}
					}
				}
			}
		}
		.intro-big{
			height: 300vh;
			.center{
				justify-content: flex-start;
				>div{
					.center;
					max-height:100vh;
					text-align:center;
					position: sticky;
					top: 0;
					h2{
						.vermelho-3;
					}
					.data{.vermelho-3;.t18;}
					h4{
						.t18; color: white; .w400;
						strong{font-size: 2em; .w600;}
					}
					.frases{
						position: relative; width: 100%;
						h4{
							position: absolute; left: 0; top: 0; width: 100%; text-align: center; opacity: 0; .transition;
							&:nth-of-type(1){top: 240px; }
							&:nth-of-type(2){top: 180px; text-indent: 55vw;}
							&:nth-of-type(3){top: -100px; text-indent: 60vw;}
							&:nth-of-type(4){top: 150px; text-indent: -60vw;}
							&:nth-of-type(5){top: -120px; text-indent: -50vw;}
							@media (max-width:991px){
								&:nth-of-type(1){top: 240px; text-indent: -16vw;}
								&:nth-of-type(2){top: 180px; text-indent: 25vw;}
								&:nth-of-type(3){top: -120px; text-indent: 12vw;}
								&:nth-of-type(4){top: -60px; text-indent: -16vw;}
								&:nth-of-type(5){top: 120px; text-indent: 6vw;}
							}
						}
					}
				}
			}
		}
		.conflitos-section{
			.transition;
			height:1100vh;
			background-size:90%;
			// background-attachment: fixed;
			background-position: center top;
			.transition;
			.center{
				justify-content: flex-start;
				>div{
					.center;
					height:100vh;
					text-align:center;
					position: sticky;
					top: 0;
				}
			}
			.fixpos{
				position: relative; width: 100%;
			}
			.infos-tema,.infos-geral{
				position: absolute;
				top: 0; left: 50%;
				.transition;
				max-width:360px;
				width: 90%;
				transform: translateX(-50%);
				color:white;
				text-align:center;
				opacity: 0; .transition;
			}
			.infos-tema{
				top: 150px;
				@media(max-height:899px){
					top: 70px;
				}
			}
			.infos-geral{
				max-width:510px;
				transform: translateX(-50%);
				h2{position: absolute; top: -220px; left: 0; width: 100%;}
			}
		}
		#slider-temas{
			position: absolute;
			top: 40%; left: 50%;
			margin-top: -140px;
			.transition(@a:transform);
			transform: translateX(-50%);
		}
		@media (max-width:980px){
			.intro-1{
				img,p{
					padding-left:2rem;padding-right:2rem; margin-left: auto; margin-right: auto;
				}
			}
		}
	}


	// [data-intro="9"] [data-indicador="1"],
	[data-intro="7"] .tema-wrapper[data-indicador="1"],
	[data-intro="8"] .tema-wrapper[data-indicador="6"],
	[data-intro="9"] .tema-wrapper[data-indicador="4"],
	[data-intro="10"] .tema-wrapper[data-indicador="2"],
	[data-intro="11"] .tema-wrapper[data-indicador="8"],
	[data-intro="12"] .tema-wrapper[data-indicador="3"],
	[data-intro="13"] .tema-wrapper[data-indicador="5"],
	[data-intro="14"] .tema-wrapper[data-indicador="7"]{
		width: 366px !important;
		max-width: 30vh;
		.shadow-3;
		.tema{
			img,span{opacity:1 !important;}
			&:hover{
				transform:none;
			}
		}
	}
	

	#mainContent{
		&[data-intro="0"]{
			#topBar{
				top:-100%;
			}
			.btn{
				bottom:-100%;
			}
			// #intro .glitch{animation-name:glitch;}
		}
		&[data-intro="1"]{
			#intro:before{opacity: .5;}
		}
		&[data-intro="2.0"]{
			#intro:before{opacity: .5;}
		}
		&[data-intro="2.1"]{
			#intro:before{opacity: .5;}
			#intro .intro-big .center>div .frases h4:nth-of-type(n+5){opacity: 1;}
		}
		&[data-intro="2.2"]{
			#intro:before{opacity: .5;}
			#intro .intro-big .center>div .frases h4:nth-of-type(n+4){opacity: 1;}
		}
		&[data-intro="3.2"]{
			#intro:before{opacity: .5;}
			#intro .intro-big .center>div .frases h4:nth-of-type(n+3){opacity: 1;}
		}
		&[data-intro="3.3"]{
			#intro:before{opacity: .5;}
			#intro .intro-big .center>div .frases h4:nth-of-type(n+2){opacity: 1;}
		}
		&[data-intro="3.4"]{
			#intro:before{opacity: .5;}
			#intro .intro-big .center>div .frases h4:nth-of-type(n+1){opacity: 1;}
		}
		&[data-intro="4.4"]{
			#intro:before{opacity: .5;}
			#intro .intro-big .center>div .frases h4:nth-of-type(n+1){opacity: 1;}
		}
		&[data-intro="4.5"]{
			#intro:before{opacity: .5;}
			#intro .intro-big .center>div .frases h4:nth-of-type(n+1){opacity: 1;}
			#slider-temas{margin-top: 0px;}
		}
		&[data-intro="4.6"]{
			#intro:before{opacity: .5;}
			#intro .intro-big .center>div .frases h4:nth-of-type(n+1){opacity: 1;}
			#slider-temas{margin-top: 0px;}
		}
		&[data-intro="5"]{
			#intro:before{opacity: .5;}
			#slider-temas{margin-top: 0px;}
		}
		&[data-intro="6"]{
			#intro:before{opacity: .5;}
			#intro .intro-big .center>div .frases h4:nth-of-type(n+1){opacity: 1;}
			#intro .conflitos-section .fixpos .infos-geral{opacity: 1;}
			#slider-temas{margin-top: 0px;}
		}
		&[data-intro="7"]{
			#intro{
				background-color: rgba(158, 57, 46, .75);
				background-blend-mode: overlay;
				.conflitos-section{
					background-image: url('@{u}bg-conflitos.png');
				}
				[data-indicador="1"]{opacity:1;}
				#slider-temas{transform: translateX( calc((-0 * min(70px,11vw)) + max(-15vh,-183px)) );}
			}
		}
		&[data-intro="8"]{
			#intro{
				background-color: rgba(199, 108, 5, .75);
				background-blend-mode: overlay;
				.conflitos-section{
					background-image: url('@{u}bg-queimadas.png');
				}
				[data-indicador="6"]{opacity:1;}
				#slider-temas{transform: translateX( calc((-1 * min(70px,11vw)) + max(-15vh,-183px)) );}
			}
		}
		&[data-intro="9"]{
			#intro{
				background-color: rgba(201, 168, 3, .75);
				background-blend-mode: overlay;
				.conflitos-section{
					background-image: url('@{u}bg-desmatamento.png');
				}
				[data-indicador="4"]{opacity:1;}
				#slider-temas{transform: translateX( calc((-2 * min(70px,11vw)) + max(-15vh,-183px)) );}
			}
		}
		&[data-intro="10"]{
			#intro{
				background-color: rgba(136, 155, 49, .75);
				background-blend-mode: overlay;
				.conflitos-section{
					background-image: url('@{u}bg-agrotoxicos.png');
				}
				[data-indicador="2"]{opacity:1;}
				#slider-temas{transform: translateX( calc((-3 * min(70px,11vw)) + max(-15vh,-183px)) );}
			}
		}
		&[data-intro="11"]{
			#intro{
				background-color: rgba(65, 139, 113, .75);
				background-blend-mode: overlay;
				.conflitos-section{
					background-image: url('@{u}bg-desigualdade.png');
				}
				[data-indicador="8"]{opacity:1;}
				#slider-temas{transform: translateX( calc((-4 * min(70px,11vw)) + max(-15vh,-183px)) );}
			}
		}
		&[data-intro="12"]{
			#intro{
				background-color: rgba(39, 72, 165, .75);
				background-blend-mode: overlay;
				.conflitos-section{
					background-image: url('@{u}bg-agua.png');
				}
				[data-indicador="3"]{opacity:1;}
				#slider-temas{transform: translateX( calc((-5 * min(70px,11vw)) + max(-15vh,-183px)) );}
			}
		}
		&[data-intro="13"]{
			#intro{
				background-color: rgba(74, 44, 158, .75);
				background-blend-mode: overlay;
				.conflitos-section{
					background-image: url('@{u}bg-mineracao.png');
				}
				[data-indicador="5"]{opacity:1;}
				#slider-temas{transform: translateX( calc((-6 * min(70px,11vw)) + max(-15vh,-183px)) );}
			}
		}
		&[data-intro="14"]{
			#intro{
				background-color: rgba(161, 43, 100, .75);
				background-blend-mode: overlay;
				.conflitos-section{
					background-image: url('@{u}bg-violencia.png');
				}
				[data-indicador="7"]{opacity:1;}
				#slider-temas{transform: translateX( calc((-7 * min(70px,11vw)) + max(-15vh,-183px)) );}
			}
		}
		&[data-intro="15"],&[data-intro="16"],&[data-intro="17"]{
			#intro:before{opacity: .5;}
			#slider-temas{margin-top: 0px;}
		}
	}

// Mapa
	#map{
		.fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width:100%;
		height:100%;
		background: #b3a5aa;
		&:after{
			.vinheta;
		}
		.shape-not-assessed{fill:none; stroke: none;}
		.active {
		  stroke: white !important; stroke-width: 3px !important;
		}
		.hover {
		  stroke: white !important; stroke-width: 2px !important;
		}
		.leaflet-map-pane{
			perspective: 1000px;
		    perspective-origin: 50vw 50vh;
		    transform-style: preserve-3d;
		    &.perspective{
		    	.leaflet-tile-pane, .leaflet-overlay-pane{
		    		transform: rotateX(30deg);
		    	}
		    	.leaflet-marker-pane{
		    		transform: rotateX(30deg);
		    	}
		    }
		}
		.leaflet-overlay-pane{ mix-blend-mode: multiply;}
		.leaflet-marker-pane img{    filter: drop-shadow(2px 6px 5px fade(black,50%));}
		.indicator-0{stroke:#75666b; fill:#2e1f24;}
		.l0{fill: @marrom-1;}
		//conflitos
		.indicator-1{
			stroke: fade(white, 30%);
			&.l1{fill:@vermelho-1;}
			&.l2{fill:@vermelho-2;}
			&.l3{fill:@vermelho-3;}
			&.l4{fill:@vermelho-4;}
			&.l5{fill:@vermelho-5;}
		}
		//queimadas
		.indicator-6{
			stroke: fade(white, 30%);
			&.l1{fill:@laranja-1;}
			&.l2{fill:@laranja-2;}
			&.l3{fill:@laranja-3;}
			&.l4{fill:@laranja-4;}
			&.l5{fill:@laranja-5;}
		}
		//desmatamento
		.indicator-4{
			stroke: fade(white, 30%);
			&.l1{fill:@amarelo-1;}
			&.l2{fill:@amarelo-2;}
			&.l3{fill:@amarelo-3;}
			&.l4{fill:@amarelo-4;}
			&.l5{fill:@amarelo-5;}
		}
		//agrotoxicos
		.indicator-2{
			stroke: fade(white, 30%);
			&.l1{fill:@limao-1;}
			&.l2{fill:@limao-2;}
			&.l3{fill:@limao-3;}
			&.l4{fill:@limao-4;}
			&.l5{fill:@limao-5;}
		}
		//desigualdade
		.indicator-8{
			stroke: fade(white, 30%);
			&.l1{fill:@verde-1;}
			&.l2{fill:@verde-2;}
			&.l3{fill:@verde-3;}
			&.l4{fill:@verde-4;}
			&.l5{fill:@verde-5;}
		}
		//agua
		.indicator-3{
			stroke: fade(white, 30%);
			&.l1{fill:@azul-1;}
			&.l2{fill:@azul-2;}
			&.l3{fill:@azul-3;}
			&.l4{fill:@azul-4;}
			&.l5{fill:@azul-5;}
		}
		//mineracao
		.indicator-5{
			stroke: fade(white, 30%);
			&.l1{fill:@roxo-1;}
			&.l2{fill:@roxo-2;}
			&.l3{fill:@roxo-3;}
			&.l4{fill:@roxo-4;}
			&.l5{fill:@roxo-5;}
		}
		//violencia
		.indicator-7{
			stroke: fade(white, 30%);
			&.l1{fill:@rosa-1;}
			&.l2{fill:@rosa-2;}
			&.l3{fill:@rosa-3;}
			&.l4{fill:@rosa-4;}
			&.l5{fill:@rosa-5;}
		}
	}
 	.map-controllers{
 		.fixed;
 		z-index: 999;
 		top: 0;
		left: 0;
 		>div{
 			.fixed;
 		}
		.zoom{
			right:1rem;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
			>button{
				.bgmarrom-7;
				.block;
				.m05;
				.shadow-4;
				.btn-hover;
				width:32px;
				height:32px;
				background-repeat:no-repeat;
				background-position: calc(50% + 1px);
				&.more{
					background-image: url('data:image/svg+xml;uft-8, <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 3.66602L9 14.3327" stroke="%231E1518" stroke-width="3" stroke-linecap="square"/><path d="M3.66699 9H14.3337" stroke="%231E1518" stroke-width="3" stroke-linecap="square"/><path d="M7 1.66602L7 12.3327" stroke="%23D5C3C9" stroke-width="3" stroke-linecap="square"/><path d="M1.66699 7H12.3337" stroke="%23D5C3C9" stroke-width="3" stroke-linecap="square"/></svg>');
				}
				&.less{
					background-image: url('data:image/svg+xml;uft-8, <svg width="16" height="6" viewBox="0 0 16 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.66699 4.22266H14.3337" stroke="%231E1518" stroke-width="3" stroke-linecap="square"/><path d="M1.66699 2.22266H12.3337" stroke="%23D5C3C9" stroke-width="3" stroke-linecap="square"/></svg>');
				}
				&.center{
					background-image: url('data:image/svg+xml;uft-8, <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="9" cy="9" r="4" stroke="%231E1518" stroke-width="2"/><g><path d="M14 9L15 9" stroke="%231E1518" stroke-width="2" stroke-linecap="square"/></g><g><path d="M3 9L4 9" stroke="%231E1518" stroke-width="2" stroke-linecap="square"/></g><g><path d="M9 4L9 3" stroke="%231E1518" stroke-width="2" stroke-linecap="square"/></g><g><path d="M9 15L9 14" stroke="%231E1518" stroke-width="2" stroke-linecap="square"/></g><circle cx="7" cy="7" r="4" stroke="%23D5C3C9" stroke-width="2"/><g><path d="M12 7L13 7" stroke="%23D5C3C9" stroke-width="2" stroke-linecap="square"/></g><g><path d="M1 7L2 7" stroke="%23D5C3C9" stroke-width="2" stroke-linecap="square"/></g><g><path d="M7 2L7 1" stroke="%23D5C3C9" stroke-width="2" stroke-linecap="square"/></g><g><path d="M7 13L7 12" stroke="%23D5C3C9" stroke-width="2" stroke-linecap="square"/></g></svg>');
					background-position: 50%;
				}
			}
			@media (max-width:980px){
				display:none;
			}
		}
		.infos{
			right:1rem;
			bottom:1rem;
			z-index: 3;
			.flex;
			flex-direction:column;
			align-items:flex-end;
			.share, .faq{
				.bgmarrom-7;
				.block;
				.m05;
				.shadow-4;
				.btn-hover;
				border-radius:50%;
				width:32px;
				height:32px;
				background-repeat:no-repeat;
				background-position: calc(50% + 1px);
			}
			.faq{
				background-image: url('data:image/svg+xml;uft-8, <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.47096 13.5455V13.0938C4.47096 12.4916 4.60646 11.9722 4.87745 11.5356C5.14845 11.099 5.47967 10.7075 5.87111 10.3612C6.27761 9.99991 6.6841 9.66116 7.0906 9.345C7.49709 9.02884 7.83584 8.69762 8.10684 8.35134C8.37783 8.00507 8.51333 7.6061 8.51333 7.15444C8.51333 6.44684 8.29503 5.95001 7.85842 5.66395C7.42182 5.3779 6.66905 5.23487 5.60011 5.23487C4.9979 5.23487 4.3731 5.31768 3.72571 5.48329C3.07833 5.63384 2.52881 5.82204 2.07715 6.04787V3.47339C2.60409 3.21745 3.24394 3.0142 3.99671 2.86365C4.76454 2.69804 5.57 2.61523 6.4131 2.61523C8.11436 2.61523 9.4016 2.99162 10.2748 3.74439C11.1631 4.49716 11.6072 5.52846 11.6072 6.83827C11.6072 7.69643 11.419 8.38145 11.0426 8.89334C10.6813 9.40522 10.1694 9.92463 9.50699 10.4516C8.90477 10.9333 8.423 11.3624 8.06167 11.7388C7.70034 12.1001 7.51968 12.5894 7.51968 13.2067V13.5455H4.47096ZM4.38063 17.3846V15.1489H7.58743V17.3846H4.38063Z" fill="%231E1518"/><path d="M2.47096 11.5455V11.0938C2.47096 10.4916 2.60646 9.97217 2.87745 9.53556C3.14845 9.09895 3.47967 8.70751 3.87111 8.36124C4.27761 7.99991 4.6841 7.66116 5.0906 7.345C5.49709 7.02884 5.83584 6.69762 6.10684 6.35134C6.37783 6.00507 6.51333 5.6061 6.51333 5.15444C6.51333 4.44684 6.29503 3.95001 5.85842 3.66395C5.42182 3.3779 4.66905 3.23487 3.60011 3.23487C2.9979 3.23487 2.3731 3.31768 1.72571 3.48329C1.07833 3.63384 0.52881 3.82204 0.0771484 4.04787V1.47339C0.604087 1.21745 1.24394 1.0142 1.99671 0.863649C2.76454 0.698039 3.57 0.615234 4.4131 0.615234C6.11436 0.615234 7.4016 0.99162 8.27481 1.74439C9.16308 2.49716 9.60722 3.52846 9.60722 4.83827C9.60722 5.69643 9.41902 6.38145 9.04264 6.89334C8.68131 7.40522 8.16943 7.92463 7.50699 8.45157C6.90477 8.93334 6.423 9.36242 6.06167 9.73881C5.70034 10.1001 5.51968 10.5894 5.51968 11.2067V11.5455H2.47096ZM2.38063 15.3846V13.1489H5.58743V15.3846H2.38063Z" fill="%23D5C3C9"/></svg>');
			}
			.share-wrapper{
				.flex;
				.relative;
				.share{
					.relative;
					z-index:2;
					background-image: url('data:image/svg+xml;uft-8, <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="6" r="3" fill="%231E1518"/><circle cx="7" cy="16" r="3" fill="%231E1518"/><circle cx="15.0001" cy="11" r="3" fill="%231E1518"/><path d="M8.74963 7.14258L13.2496 9.71401M8.74963 14.8569L13.2496 12.2854" stroke="%231E1518" stroke-width="1.28571"/><circle cx="5" cy="4" r="3" fill="%23D5C3C9"/><circle cx="5" cy="14" r="3" fill="%23D5C3C9"/><circle cx="13.0001" cy="9" r="3" fill="%23D5C3C9"/><path d="M6.74963 5.14258L11.2496 7.71401M6.74963 12.8569L11.2496 10.2854" stroke="%23D5C3C9" stroke-width="1.28571"/></svg>');
				}
				.share-btns{
					.flex;
					.transition;
					.absolute;
					z-index:1;
					opacity:0;
					visibility:hidden;
					transform: translateX(100%);
					a{
						.transition;
						.shadow-4;
						.m05;
						.btn-hover;
						border-radius:0;
						display:block;
						width:32px;
						height:32px;
						background-size:cover;
						&.twitter{
							background-image: url('@{u}twitter.svg');
						}
						&.facebook{
							background-image: url('@{u}facebook.svg');
						}
						&.linkedin{
							background-image: url('@{u}linkedin.svg');
						}
						&.whatsapp{
							background-image: url('@{u}whatsapp.svg');
						}
					}
				}
				&:hover{
					.share-btns{
						opacity:1;
						visibility:visible;
						transform: translateX(-100%);
					}
				}
			}
			@media(max-width:980px){
				display:inline-block;
				bottom:38%;
				a{
					.mr0!important;
				}
			}

		}
		.regua{
			z-index: 2;
			bottom:1.5rem;
			left: 5rem; right: 5rem;
			display: flex;
			align-items: center;
 			transition: transform 1s ease-in-out;
			.regua-inner{
				.bgmarrom-7;
				.shadow-4;
				.relative;
				margin: 0 auto;
				padding:.2rem .5rem .5rem;
				.legenda-regua{
					.flex;
					width:100%;
					margin-bottom:.2rem;
					justify-content:space-between;
					align-items:center;
					p{
						.marrom-1;
						.mt0;
						.mb0;
						&.titulo{
							.t14;
							.w600;
							width: 100%;
							text-align:center;
						}
						&:not(.titulo){
							.t10;
							.ff1;
							@media (max-width:991px){
								display:none;
							}
						}
					}
				}
				.escala{
					display: grid;
					grid-auto-flow: column;
					grid-auto-columns: 1fr;
					div{
						text-align:center;
						padding:0.2rem 0.8rem;
						height:28px;
						.relative;
						&:first-child{
							.bgmarrom-1;
						}
						&:last-child{
							color:white;
						}
						@media (min-width:992px){
							padding:.2rem 1.3rem .2rem calc(1.3rem + 15px);
							&:after {
								content: '';
								position: absolute;
								top: 0;
								width: 27px;
								left: calc(100% - 18px); 
								height:28px;
								clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0 98%, 0 0);
								z-index:999;
							}
						}
						&.escala-0{&:after{.bgmarrom-1;}}
					}
					.escala-0{background: @marrom-1; padding: .2rem 1.8rem;}
				}
				.tooltip{
					.absolute;
					.transition;
					right:-5.5rem;
					bottom:5rem;
					max-width:250px;
					opacity:0;
					visibility:hidden;
					p{
						.m0;
					}
					&:after{
						transform:scaleX(-1);
					}
				}
				&:hover .tooltip{
					opacity:1;
					visibility:visible;
				}
			}
		}
 		.card{
			background: url('data:image/svg+xml;uft-8, <svg width="364" height="753" viewBox="0 0 364 753" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M205 0H0V753L2.27299e-06 727L13 753H364V160L357 142L364 124V0H225L205 10V0ZM2.27299e-06 250L9 268L2.27299e-06 286V268V250Z" fill="%233C2A30"/></svg>');
 			background-size:cover;
			padding:2rem 1rem 2rem 2rem;
 			top:6.5rem;
 			left:2rem;
 			width:364px;
			max-width:100%;
 			transition: transform .5s ease-in-out;
 			z-index: 999999;
			transform: translateX(-150%);
			#cardcontent{
				.pr05;
				.mt05;
				max-height: calc(100vh - 12rem);
				overflow-y:scroll;
				border-right: 3px solid @marrom-7;
				>div{.mb1;}
				&::-webkit-scrollbar {
					width: 5px;
				}
				&::-webkit-scrollbar{
					background: transparent!important;
				}
				@media (max-height:899px){
					h3{.mb05;}
					>div{.mb05;}
				}
			}
 			h3{
 				.mt0;
 				.mb1;
 				.branco;
				line-height: 1.2em;
 				&.lente{.t18;}
 				&.local{.t24;.mb1;}
 				.animated(fadeIn);
 			}
 			.label, .legenda{
 				.mb0;
 				.branco;
 			}
 			.label{
 				.t12;
 				b{.t14;.ff1;.w600;padding-left:0.2rem;}
 			}
 			.escala, .escala-conflitos{
 				.flex;
 				align-items:center;
 				margin-top:0.3rem;
 				>div{
					.transition;
					.t10;
 					height:12px;
 					width:20%;
					 color:transparent;
					 &.escala-0{
						 .bgmarrom-1;
					 }
 					&.active{
 						.relative;
 						height:20px;
						line-height: 20px;
						text-align: center;
						&:nth-child(-n+5){
							color:black;
						} 
						&:nth-child(n+5){
							color:white;
						}
 						&:before{
 							content: "";
 							top: -0.5px;
 							right: 12%;
 							position: absolute;
 							width: 8px; height: 4px;
 							background: url('data:image/svg+xml;uft-8, <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.74846e-07 4L8 0L0 3.49691e-07L1.74846e-07 4Z" fill="%233C2A30"/></svg>');
 						}
 						&:after{
 							content: "";
 							bottom: -0.5px;
 							left: 12%;
 							position: absolute;
 							width: 8px; height: 4px;
 							background: url('data:image/svg+xml;uft-8, <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 -1.11273e-07L0 4L8 4L8 -1.11273e-07Z" fill="%233C2A30"/></svg>');
 						}
 					}
 				}
 			}
 			.escala-conflitos{
 				.escala-1{.bgvermelho-1;}
 				.escala-2{.bgvermelho-2;}
 				.escala-3{.bgvermelho-3;}
 				.escala-4{.bgvermelho-4;}
 				.escala-5{.bgvermelho-5;}
 			}
 			.btn-close{
 				.absolute;
 				top:1rem;
 				right:1rem;
 			}
 			.legenda-recordista{
				 .t14;
 				.marrom-2;
				.w300;
 				padding: 0.4rem 0 0.4rem 1.7rem;
 				background: url('data:image/svg+xml;uft-8, <svg width="20" height="20" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.5996 72.1C36.2996 72.1 36.0996 72 35.8996 71.8L27.1996 63.1C26.8996 62.8 26.7996 62.3 26.9996 61.9L35.6996 46C35.8996 45.7 36.1996 45.5 36.5996 45.5C36.9996 45.5 37.2996 45.7 37.4996 46L46.1996 61.9C46.3996 62.3 46.2996 62.8 45.9996 63.1L37.2996 71.8C37.0996 72 36.8996 72.1 36.5996 72.1Z" fill="%23D5C3C9"/><path d="M36.5994 46.5L45.2994 62.4L36.5994 71.1L27.8994 62.4L36.5994 46.5ZM36.5994 44.5C35.8994 44.5 35.1994 44.9 34.7994 45.5L26.0994 61.4C25.6994 62.2 25.7994 63.1 26.3994 63.8L35.0994 72.5C35.4994 72.9 35.9994 73.1 36.4994 73.1C36.9994 73.1 37.4994 72.9 37.8994 72.5L46.5994 63.8C47.1994 63.2 47.3994 62.2 46.8994 61.4L38.1994 45.5C37.9994 44.9 37.3994 44.5 36.5994 44.5Z" fill="%23D5C3C9"/><path d="M27.9004 62.4L36.6004 71.1V46.5L27.9004 62.4Z" fill="%23D5C3C9"/><path d="M36.5996 27.5004C36.1996 27.5004 35.8996 27.3004 35.6996 27.0004L26.9996 11.1004C26.7996 10.7004 26.8996 10.2004 27.1996 9.90039L35.8996 1.20039C36.0996 1.00039 36.2996 0.900391 36.5996 0.900391C36.8996 0.900391 37.0996 1.00039 37.2996 1.20039L45.9996 9.90039C46.2996 10.2004 46.3996 10.7004 46.1996 11.1004L37.4996 27.0004C37.2996 27.4004 36.9996 27.5004 36.5996 27.5004Z" fill="%23D5C3C9"/><path d="M36.5994 2L45.2994 10.7L36.5994 26.6L27.8994 10.7L36.5994 2ZM36.5994 0C36.0994 0 35.5994 0.199999 35.1994 0.599999L26.4994 9.3C25.8994 9.9 25.6994 10.9 26.1994 11.7L34.8994 27.6C35.2994 28.2 35.8994 28.6 36.6994 28.6C37.4994 28.6 38.0994 28.2 38.4994 27.6L47.1994 11.7C47.5994 10.9 47.4994 10 46.8994 9.3L38.1994 0.599999C37.5994 0.199999 37.0994 0 36.5994 0Z" fill="%23D5C3C9"/><path d="M45.2996 10.7L36.5996 2V26.6L45.2996 10.7Z" fill="%23D5C3C9"/><path d="M62.4996 46.2008C62.2996 46.2008 62.1996 46.2008 61.9996 46.1008L46.0996 37.4008C45.7996 37.2008 45.5996 36.9008 45.5996 36.5008C45.5996 36.1008 45.7996 35.8008 46.0996 35.6008L61.9996 26.9008C62.1996 26.8008 62.2996 26.8008 62.4996 26.8008C62.7996 26.8008 62.9996 26.9008 63.1996 27.1008L71.8996 35.8008C72.0996 36.0008 72.1996 36.2008 72.1996 36.5008C72.1996 36.8008 72.0996 37.0008 71.8996 37.2008L63.1996 45.9008C62.9996 46.1008 62.7996 46.2008 62.4996 46.2008Z" fill="%23D5C3C9"/><path d="M62.4996 27.9004L71.1996 36.6004L62.4996 45.3004L46.5996 36.6004L62.4996 27.9004ZM62.4996 25.9004C62.1996 25.9004 61.7996 26.0004 61.4996 26.1004L45.5996 34.8004C44.9996 35.2004 44.5996 35.8004 44.5996 36.6004C44.5996 37.3004 44.9996 38.0004 45.5996 38.4004L61.4996 47.1004C61.7996 47.3004 62.0996 47.3004 62.4996 47.3004C62.9996 47.3004 63.4996 47.1004 63.8996 46.7004L72.5996 38.0004C73.3996 37.2004 73.3996 36.0004 72.5996 35.2004L63.8996 26.5004C63.5996 26.1004 62.9996 25.9004 62.4996 25.9004Z" fill="%23D5C3C9"/><path d="M62.4996 45.2L71.1996 36.5H46.5996L62.4996 45.2Z" fill="%23D5C3C9"/><path d="M10.7 46.2008C10.4 46.2008 10.2 46.1008 10 45.9008L1.3 37.2008C1.1 37.0008 1 36.8008 1 36.5008C1 36.2008 1.1 36.0008 1.3 35.8008L10 27.1008C10.2 26.9008 10.4 26.8008 10.7 26.8008C10.9 26.8008 11 26.8008 11.2 26.9008L27.1 35.6008C27.4 35.8008 27.6 36.1008 27.6 36.5008C27.6 36.9008 27.4 37.2008 27.1 37.4008L11.2 46.1008C11.1 46.2008 10.9 46.2008 10.7 46.2008Z" fill="%23D5C3C9"/><path d="M10.7 27.9004L26.6 36.6004L10.7 45.3004L2 36.6004L10.7 27.9004ZM10.7 25.9004C10.2 25.9004 9.7 26.1004 9.3 26.5004L0.6 35.2004C-0.2 36.0004 -0.2 37.2004 0.6 38.0004L9.3 46.7004C9.7 47.1004 10.2 47.3004 10.7 47.3004C11 47.3004 11.4 47.2004 11.7 47.1004L27.6 38.4004C28.2 38.0004 28.6 37.4004 28.6 36.6004C28.6 35.9004 28.2 35.2004 27.6 34.8004L11.7 26.1004C11.4 25.9004 11.1 25.9004 10.7 25.9004Z" fill="%23D5C3C9"/><path d="M10.7 27.9004L2 36.6004H26.6L10.7 27.9004Z" fill="%23D5C3C9"/></svg>') no-repeat left .4rem;
 			}
 			.about{
 				p{
 					.marrom-2;
 					line-height: 1.1rem;
 				}
 			}
 			&.active{
 				transform: translateX(0);
 			}
 		}
		@media(max-width:980px){
			.card{
				max-width: calc(100% - 2rem);
				left:1rem;
				top:1rem;
				// background: url('data:image/svg+xml;uft-8, <svg width="320" height="600" viewBox="0 0 320 600" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M180.22 0H0.000590985L0.000592892 219.456L7.91268 235.256L0.000592892 251.057L0 577.177L11.4286 600H165.714H320L320.001 140.452L313.847 124.651L320.001 108.85V0H197.803L180.22 8.77822V0Z" fill="%233C2A30"/></svg>');
			}
			#cardcontent{
				max-height: calc(100vh - 7rem)!important;
			}
			.regua{
				left:auto;
				right:1rem;
				max-width: 37px;
				overflow: hidden;
				z-index:2;
				.transition;
				.regua-inner{
					.m0;
					.inline-block;
					max-width:150px;
					.legenda-regua{
						max-width:100px;
						.titulo{
							text-align:left!important;
						}
					}
					.escala{
						width:100%;
						.flex;
						flex-direction:column-reverse;
						max-width:118px;
						min-height:168px;
						background-repeat: no-repeat;
						>div{
							.transition;
							max-height:0;
							visibility:hidden;
							opacity:0;
							line-height: 28px;
							.pl2;
							.pr0;
							background:transparent!important;
							.marrom-1!important;
							text-align:left;
						}
					}
					p{
						.m0;
						.pb05;
					}
					.titulo{
						.transition;
						visibility: hidden;
						max-height: 0;
						padding: 0;
					}
					.tooltip{
						display:none;
					}
				}
				&:hover{
					max-width:999px;
					.titulo, .escala > div{
						visibility: visible;
						opacity:1;
						max-height: 999px;
						.pb05;
					}
				}
			}
			.infos{
				z-index:1;
			}
		}
		
 	}
 	#intro .btn{
 		.fixed;
 		.shadow-2;
 		bottom:2rem;
 		right:2rem;
		z-index: 402;
 	}
 	#iniciarmapa{
 		.fixed;
 		top:-50%;
 		left: 50%;
 		transform: translate(-50%);
 		z-index: 999999;
 		pointer-events: none;
 		.transition(@a: opacity);
 	}
 	[data-tipo="0"]{
 		svg path{cursor: default;}
 		#iniciarmapa{opacity: 1; pointer-events: all; top:50%;}
 	}

// Páginas internas //
	.institucional{
		.pb3;
		padding-top:13rem;
		width:100%;
		min-height:100vh;
		background: rgba(0, 0, 0, .4) url('@{u}institucional-bg.jpg');
		background-attachment: fixed;
		// background-blend-mode: darken;
		background-size:cover;
		h2{
			.vermelho-3;
			.mb2;
		}
		h3{
			.vermelho-3;
			.mt1;
		}
		p:not(.label){
			.branco;
			.t18;
		}
		ol, ul{
			margin-bottom:1.5rem;
			padding-left: 1.5em;
		}
		li{
			.branco;
			.t18;			
			list-style:disc;
		}
		#mc_embed_signup{
			margin:0 auto;
			max-width:600px;
			background-color:transparent;
			color:white;
			form{
				.p0;
			}
			.mc-field-group{
				width:100%;
			}
			h3{.tc;.mb2;}
			li{
				.t14;
				label{.pl05;}
			}
			#mc-embedded-subscribe{
				.btn!important;
				border:none;
				.m0;
				.t18!important;
			}
			.mc-field-group input{
				border:1px solid white;
				color:white;
				background-color:transparent;
				padding: 0.5rem;
				margin-bottom: 1rem;
				margin-top: 0.2rem;
				border-radius: 4px;
			}
		}
		p a{
			text-decoration:underline;
		}
		table{
			width:500px;
			margin:3rem auto;
			max-width:100%;
			tr{
				td{
					color:white;
					text-align:center;
					.p1;
					border: 1px solid white;
				}
			}
		}
		&.animacao{
			padding-top:8rem;
		}
	}
	.reportagem{
		.zoomimg{
			display: block; overflow: hidden;
			img{.transition;}
		}
		&:hover{
			h3{color: @vermelho-4 !important;}
			.zoomimg img{transform: scale(1.1);}
		}
	}

// Video
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		height:0;
		iframe, video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

// Sobre
	.sobre{
		p{
			line-height: 1.7em;
	    	margin-bottom: 1.5rem;
		}
		.contato{
			p{
				.m0;
			}
		}
		.equacao{
			.mt1;
			.mb1;
			text-align:center;
			>*{
				.inline-block;
			}
			.fracao{
				.relative;
				color:white;
				margin-left:0.2rem;
				margin-right:0.2rem;
				sup{
					padding-bottom:0.1rem;
					border-bottom: 1px solid white;
					top: -0.85em;
				}
				sub{
					position: absolute;
					bottom: 0.1rem;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

// Expediente
	.expediente{
		p:not(.label){
			.mt0;
		}
		.label{
			.marrom-1;
			.mb0;
		}
	}

// Preloader
	body.loader-on{overflow-y: hidden;}
	#loader{
	  transition: all .6s cubic-bezier(0.5, 0, 0.2, 1); overflow: hidden; opacity: 1; top: 0;
	  &.out{
	    opacity: 0!important;
	    top: -100% !important;
	  }  
	}